.jumbotron{
    background: rgb(36, 36, 36);
    color: #f1f1f1;
    background-color: rgb(31, 31, 31);
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(189, 189, 189);padding: 3%;
}

body{
    background: rgb(39,39,39);
    font-family:'Courier New', Courier, monospace;
}

li {
    list-style-type: none;
    margin-left: 1vh;
    transition: 0.4s;
}

li:hover{
    background-color: rgb(49, 50, 51);
}

.files{
    background-color: rgb(24, 24, 24);
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(189, 189, 189);
    padding: auto;
    padding-right: 155px;
    height: 500px;
}

td.hljs-ln-code {
	white-space: pre-wrap;
}

.codeBox{
    white-space: pre;
    background-color: rgb(24, 24, 24);
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(189, 189, 189);
    overflow: auto;
    height: 500px;
}

.comment-box{
    list-style-type: none;
    padding-left: 0;
}

.comment-box .comment h6 {
    font-weight: 800;
}

p{
    font-size: 16px;
}
.card{
    width: 1111px;
}
.card-body{
    max-width: 1111px;
    background-color: rgb(49, 50, 51);
    text-align: left;
}

.save{
    margin-right: 500px;
}

.description-limit{
    overflow-y: auto;
    max-height: 35vh;
}

.btn{
    transition: 0.3s;
}
  
.btn:hover{
    background-color: rgb(40, 113, 231);
    border-radius: 10px;
}

.marg{
    margin-bottom: 17px;
}

.my-4{
    background-color: white;
}