.jumbotron{
    background: rgb(36, 36, 36);
    color: #f1f1f1;
}

.divider {
    margin: 2%;
    opacity: 0%;
}

p{
    font-size: 18px;
}

.card{
    max-height: 60vh;
    max-width: 20vw;
}

.col-md-4{
    max-width: 20vw;
    margin-left: 7vw;
    margin-right: 5vw;
}

.center-button{
    margin-bottom: 5vh;
    text-align:center;
}

.card .card-body {
    overflow-y: auto;
}

.card-body{
    align-items: center;
    text-align: center;
}

.create{
    margin-bottom: 2vh;
    text-align: center;
    
  }

.modal-content{
   background-color: rgb(36, 36, 36);
}

.my-img{
    width:inherit;
    background: url(../assets/temp_pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 20vh;
}

.btn{
    transition: 0.3s;
  }
  
.btn:hover{
    background-color: rgb(40, 113, 231);
    border-radius: 10px;
}