.jumbotron{
    background: rgb(36, 36, 36);
    color: #f1f1f1;
}

.divider {
    margin: 2%;
    opacity: 0%;
}

body{
    overflow-x: hidden;
}

.center-button{
    margin-bottom: 5vh;
    text-align:center;
}

.card{
    max-height: 60vh;
    max-width: 20vw;
}

.col-md-4{
    max-width: 20vw;
    margin-left: 5vw;
    margin-right: 5;
}

.center-button{
    margin-bottom: 5vh;
    text-align:center;
}

.card .card-body {
    overflow-y: auto;
}

.card-body{
    align-items: center;
    text-align: center;
}

.my-img{
    width:inherit;
    background: url(../assets/temp_pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* width */
body::-webkit-scrollbar {
    width: 0px;
  }

.search-icon{
    width: 20px;
    height: 20px;
}

.search{
    margin-bottom: 2vh;
    text-align: center;
  }

.modal-content{
    background-color: rgb(36, 36, 36);
}
