.jumbotron{
    background: rgb(36, 36, 36);
    color: #f1f1f1;
}

.divider {
    margin: 2%;
    opacity: 0%;
}

body{
    overflow-x: hidden;
}

.card-text{
    text-align: left;
}

.card{
    overflow-x: hidden;
    width: 45vw;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(98, 98, 98);
    margin-bottom: 2vh;
}

.my-img{
    width:inherit;
    background: url(../assets/temp_pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.scroll-cards{
    overflow-x: hidden;
    overflow-y: auto;
    height: 75vh;
}

/* width */
body::-webkit-scrollbar {
    width: 0px;
  }

.search-icon{
    width: 20px;
    height: 20px;
}

.search{
    margin-bottom: 2vh;
    text-align: center;
  }