#logo {
    width: 75px;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    opacity: 0%;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    opacity: 0%;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }