#logo {
    width: 75px;
}

.containText{
    background-color: black;
    border-radius: 5px;
    padding: 5px; 
    padding-bottom: 1px;
}
body{
  background: rgb(39,39,39);
  font-family:'Courier New', Courier, monospace;
}

.custom-nav{
  background-color:rgb(39, 39, 39);
}

.text{
  float: right;
  margin: 20px;
  position: relative;
  bottom: 4vh;
  left: 3vh;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    opacity: 40%;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
    opacity: 40%;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
